* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 80px 20px;
    font-family: Arial, sans-serif;
    background: url('bg.png') no-repeat center center/cover;
    color: #000;
    min-height: 100vh;
    text-align: center;
}

a {
    text-decoration: none;
}

.logo {
    width: 165px;
}

.header {
    display: flex;
    margin-bottom: 60px;
}

.own-title {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 30px;
}

.cont-1 {
    display: flex;
}

.subtitle {
    font-family: "Montserrat", serif;
    font-size: 9px;
    border-radius: 3px;
    max-width: 300px;
    background: #f7f2de;
    padding: 0.5rem;
    font-weight: bold;
    display: inline-block;
    text-align: start;
}

.stats-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.plus {
    width: 300px;
}

.sub-title {
    text-align: start;
    font-size: 15px;
}

.sub-title-bold {
    font-weight: 600;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}
.btn img {
    margin-right: 10px;
    width: 26px;
    height: 26px;
}

.btn-cont {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}